<head>
	<script type="text/javascript" src="/content/staticfiles/revelanalytics/js/QLSimAnalyticsDetails.js"></script>
</head>
<body>
<div class="ql" style="margin: auto; width: 740px; position: relative;">
     <div class="title">
         <div class="main">
             <span>Results</span>
             <button id="exportToExcel" disabled="disabled">Export To Excel</button>
         </div>
         <div class="sub"><span class="asgnTitle"></span> (<b><span class="tabname">Overview</span></b>)</div>
     </div>
     <div class="charts">
     </div>
     <div class="tabs">
         <a href="javascript:void(0);" rel="Overview" class="reporttab">Overview</a><div class="vline"></div>
         <a href="javascript:void(0);" rel="Class" class="reporttab">Class Report</a><div class="vline"></div>
         <a href="javascript:void(0);" rel="Student" class="reporttab">Student Report</a><div class="vline"></div>
         <a href="javascript:void(0);" rel="Outcomes" class="reporttab">Outcomes</a><div class="vline"></div>
         <a href="javascript:void(0);" class="expand expandcollapse"></a>
     </div>
     <div class="hline"></div>
     <div id="analyticsResult" class="analyticsResult">
         <div class="tabContainer hide" rel="Overview"></div>
         <div class="tabContainer hide" rel="Class"></div>
         <div class="tabContainer hide" rel="Student"></div>
         <div class="tabContainer hide" rel="Outcomes"></div>
     </div>
 </div>
</body>




