					<p>
						<h2 style="margin-left:10px">Submit the form to launch a new Session:</h2>
						<form>
							<input type="hidden" name="user_id"></div> 
							<input type="hidden" name="context_id"></div>
							<input type="hidden" name="custom_mode"></div>

							<!--<div class="formRow">
									Launch Mode: 
									<input type="radio" name="custom_mode" value="do">&nbsp;Do
									<input type="radio" name="custom_mode" value="preview">&nbsp;Preview
									<input type="radio" name="custom_mode" value="practice">&nbsp;Practice
									<input type="radio" name="custom_mode" value="do">&nbsp;Review
									<input type="radio" name="custom_mode" value="setup">&nbsp;Setup
							</div>-->
							<input name="custom_target_1" type="hidden" value="{{sims.selectedSim}}" />
					        <input name="custom_lastname" value="Simmons" type="hidden" />
					        <input name="custom_course_id" value="urn:udson:pearson.com/xl/devdb:course/138261_xlnoedx_devdb" type="hidden" />
					        <input name="custom_originating_partner" value="xl" type="hidden" />
					        <input name="custom_savevalues" value="1" type="hidden" />
					        <input name="custom_assignmenttitle" value="GLv2 Homework 1" type="hidden" />
					        <input name="tool_consumer_instance_guid" value="TPI" type="hidden" />
					        <input name="oauth_signature" value="EMA4l0JNnguBKVsa+Uc+qIX5dkI=" type="hidden" />
					        <input name="custom_courseenddate" value="2013-09-22T00:00:00Z" type="hidden" />
					        <input name="lti_message_type" value="basic-lti-launch-request" type="hidden" />
					        <input name="custom_print" value="1" type="hidden" />
					        <input name="custom_totalpoints" value="4" type="hidden" />
					        <input name="custom_partnerId" value="xlnoedx" type="hidden" />
					        <input name="custom_resource_id" value="{{resourceId}}" type="hidden" />
					        <input name="custom_tool_proxy_guid" value="d5bfe447-e208-43b5-b2fb-d2a0e1c3b3ad" type="hidden" />
					        <input name="custom_questiontitle_1" value="glv2-question1 (dev)" type="hidden" />
					        <input name="custom_currentquestion" value="1" type="hidden" />
					        <input name="custom_questiontitle_3" value="glv2-question3 (dev)" type="hidden" />
					        <input name="custom_questiontitle_2" value="glv2-question2 (dev)" type="hidden" />
					        <input name="custom_partialcredit" value="1" type="hidden" />
					        <input name="custom_institutionId" value="devdb" type="hidden" />
					        <input name="custom_resultid_role" value="$resultidrole" type="hidden" />
					        <input name="custom_resultid" value="urn:udson:pearson.com/xl/devdb:partnerhomeworkresult/46549" type="hidden" />
					        <input name="custom_displaycourseid" value="02Y1OL501Y2QD0" type="hidden" />
					        <input name="custom_person_id" value="gl-instructor" type="hidden" />
					        <input name="oauth_nonce" value="9055125895952954184" type="hidden" />
					        <input name="oauth_timestamp" value="1372790318" type="hidden" />
					        <input name="custom_points_3" value="1" type="hidden" />
					        <input name="custom_points_2" value="1" type="hidden" />
					        <input name="custom_points_1" value="1" type="hidden" />
					        <input name="oauth_signature_method" value="HMAC-SHA1" type="hidden" />
					        <input name="custom_points_4" value="1" type="hidden" />
					        <input name="oauth_version" value="1.0" type="hidden" />
					        <input name="resource_link_id" value="UNKNOWN" type="hidden" />
					        <input name="roles" value="Educator" type="hidden" />
					        <input name="context_type" value="CourseSection" type="hidden" />
					        <input name="lti_version" value="LTI-1p0" type="hidden" />
					        <input name="custom_membershipslastupdated" value="2013-01-22T18:09:22.893Z" type="hidden" />
					        <input name="custom_handler_urn" value="pearson/xlnoedx_phgl2/slink/x-pearson-xlnoedx_phgl2" type="hidden" />
					        <input name="custom_firstname" value="SIMS Tester" type="hidden" />
					        <input name="custom_questiontitle_4" value="glv2-question4 (dev)" type="hidden" />
					        <input name="custom_attemptsallowed" value="0" type="hidden" />
					        <input name="oauth_consumer_key" value="TPI" type="hidden" />
					        <input name="custom_dateavailable" value="2013-05-31T00:00:00Z" type="hidden" />
					        <!-- <div class="formRow">
					        	<input class="allButton" type=submit value=submit><button ng-click="closeForm()">Close</button>
					        </div>-->
						</form>
					</p>
				</div>
